<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <img class="card-img-top" src="{{game.cover_art}}" alt="game art" />
    </div>
    <div class="col-6">
      <div class="text-center">
        <input class="form-input" type="text" value="{{id}}" id="inputTournament" readonly/>

        <h2>{{tournament_name}}</h2>

        <p>{{description}}</p>

        <p>Participants:</p>
        {{#each players as |player|}}
          <p>{{player.player_name}}</p>
        {{/each}}
        {{!-- <p>Created on {{format_date date_created}}</p>
        <p>Created on {{date_created}}</p> --}}
        <p>
          <span for="img" aria-label="money">🎮</span>
          We want
          <!-- Pass needed_funding value to the helper function -->
          <span>{{player_quantity}}</span>
          players!
        </p>
        <p>
          <button id="join_btn" class="btn btn-primary" type="button">Join this tournament!</button>
        </p>
      </div>
    </div>
  </div>

</div>

<script>

  const inputTournament = document.getElementById('inputTournament').value;

const joinTournamentHandler = async (event) => {
    event.preventDefault();
  
    console.log("join_btn clicked")

    const currentPlayers = await fetch(`/api/tournaments/${inputTournament}`,{
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      },
    });
    
    
    console.log({{ session.player_id }});

    
    const currentPlayersArray = currentPlayers.get({ plain: true });
    console.log(currentPlayersArray);

    if(currentPlayers.length){
      currentPlayers.map((players) => players.id);
    }
    
    newPlayersArray = currentPlayersArray.push({{ session.player_id }});

    console.log(newPlayersArray);
  
      const response = await fetch(`/api/tournaments`, {
        method: 'PUT',
        body: JSON.stringify({ playerIds: [1,2,3]}),
        headers: {
          'Content-Type': 'application/json',
        },
      });
      if (response.ok) {
        document.location.replace(`/all-tournaments/`);
      } else {
        alert('Failed to join tournament');
      }
    
  };

  
  document
    .querySelector('#join_btn')
    .addEventListener('click', joinTournamentHandler);
  

  
</script>
{{! original }}
{{!-- <div class="text-center">
  <h2>{{tournament_name}}</h2>
  <img class="card-img-top" src="{{game.cover_art}}" alt="game art">
  <p>{{description}}</p>

  <p>Participants:</p>
  {{#each players as |player|}}
    <p>{{player.player_name}}</p>
  {{/each}}
  <p>Created on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">🎮</span>
    Minimum
    <!-- Pass needed_funding value to the helper function -->
    <span>{{player_quantity}}</span>
    players!
  </p>
  <p>
    <button class="btn btn-primary">Join this tournament!</button>
  </p>
</div> --}}