<div class="text-center">
  <h2>{{tournament2_name}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p>{{description}}</p>
  <p>Created by {{player2.player2_name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">🎮</span>
    Minimum<p> </p>
    <!-- Pass needed_funding value to the helper function -->
    <span class="dollar-amount">{{format_amount
        tournament2.player_quantity
      }}</span>
    players!
  </p>
  <p>
    <button class="btn btn-primary">Join this tournament!</button>
  </p>
</div>